<% include  ./partials/header%>

<div class="row">
  <div class="thumbnail login_container"><span>
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 60%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="confirm_password" placeholder="confirm Password">
            </div>
             <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="full name">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" id="signup">Sign Up!</button>
            </div>
            <div>
              <a class="go_back" href="/cuisines">Go Back</a>
            </div>
        </form>
    </div>
    <span>
  </div>
</div>

<% include  ./partials/footer%>
