  <% include ../partials/header.ejs %>

<div class="container">
  <div class="row justify-content-center">
  
    <div class="col-md-12 text-center">
      <figure class="page-head-image" >
        <img style="border-radius: 50%; height:250px;"  src="https://images.pexels.com/photos/3022/food-restaurant-camera-taking-photo.jpg?h=350&dpr=2&auto=compress&cs=tinysrgb" />
      </figure>
        <h1> Add a New Snap!</h1>
      </div>


   <div class="col-xs-12 col-md-8 col-lg-6">
      <form action="/cuisines" method="post" enctype="multipart/form-data">
            <div class="form-group">
                 <label for="name">Name</label>
                 
                 <input class="form-control form-control-lg" type="text" name="name" id="name" placeholder="Spanish Paella">    
            </div>

            <div class="form-group">
               <label for="image">Image</label>
               
               <input class="form-control form-control-lg" type="file" id="image" name="image" accept="image/*" required>
            </div>

            <div class="form-group">
               <label for="cost">Cost</label>
               
               <input class="form-control form-control-lg" type="number" name="cost" id="cost" placeholder="9.99" step="0.01" min="0" required>
            </div>

            <div class="form-group">
              <label for="location">Location</label>
              
              <input class="form-control form-control-lg" type="text" name="location" id="location" placeholder="San Francisco, CA">
            </div>

            <div class="form-group">
               <label for="description">Review</label>
               
               <input class="form-control form-control-lg"  type="text" name="description" id="description" placeholder="Valencian Rice Dish">  
            </div>

             <div class="form-group ">
               <button class="btn btn-lg btn-primary btn-block "  id="login_button">Submit!</button>
             </div>
              <a class="go_back" href="/cuisines">Go Back</a>
        </form>
      </div>
  </div>
</div>
  
  <% include ../partials/footer.ejs %>
