body{
    font-family: 'Merienda', cursive;
    background-color: #fff7db;
    color: #181008;
}
#title{
    color: #dc8920;
    font-size: 25px;
}

.thumbnail img {
    width: auto !important;
    height: 250px !important;
    margin: 0 auto 1em auto;
}

.thumbnail {
    padding: 0;
    border: 2px solid #181008;
    /* border-radius: 20px 50px 50px 20px; */
    background-color: #fff7db;
}

.thumbnail .caption-full {
    padding: 28px;
}

.delete-form {
    display: inline;
}

#edit_button, #delete_button{
    background-color: #dc8920;
}

.like {
	padding-top: 3ex;
	padding-left: 3ex;
}

.navbar{
    background-color: #181008;
}

.navbar-collapse li{
    background-color: #181008;
}

.preview{
	padding:2.5ex;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}

#comment_button{
    background-color: #181008;
    border: 0px;
    color: #dc8920;
}

.well{
    background-color: #dc8920;
    border: 2px solid #181008;
    border: 0px;
}


.form-group button{
    background-color: #181008;
    color: #dc8920;
    border: 0px;
}

.like{
    border:0px;
    background-color: #fff7db;
}

#moment{
    font-size: 10px;
}


#cuisine_name{
    font-size: 25px;
}

#heart {
    float:left;
}

.like .btn{
    border: 0px;
    background: transparent;
    font-size: 23px;
    color: #181008;
    cursor: pointer;
    border-radius: 2px;
    line-height: 0.5;
    border: none;
    outline:none;
    padding: 0px;
}
