html{
  position: relative;
  min-height: 100%;


}


body {
  height: 100%;
  font-family: 'Abel', sans-serif;
  font-weight: 200;
  margin-bottom: 60px;
  background-color: #f6f7f4;
}


.navbar{ 
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar .navbar-brand{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #20c997;
}

.card-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #20c997;
}

.form-signin h1{
font-size: 40px;
font-family: 'Roboto Mono', monospace;
font-weight: 150; 
color: #20c997;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 50px;
  margin: 0 auto;
  
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
  background-color: #07a1f4;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
}

h1{
font-size: 40px;
font-family: 'Roboto Mono', monospace;
font-weight: 150; 
color: #20c997;
}

.container h1{
font-size: 40px;
font-family: 'Roboto Mono', monospace;
font-weight: 150; 
color: #20c997;
}

.delete-form {
    display: inline;
}

.profile{
    max-height: 100%;
    max-width: 100%;
}


/* Google Maps */
#map {
   height: 400px;
   width: 100%;
 }

