.container {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
#prof-img-container {
	border-radius: 20px 0;
	width: 220px; 
	height: 360px;
	padding: 20px;
	background-color: #f7f8f9;
}
.img-responsive {
	width: 100%;
	max-width: 610px;
	padding-bottom: 10px;
	margin-top: 10px;
}
ul li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.cuisine-list {
	margin:0;
	padding:0;
}
.cuisine-list li {
	margin-bottom: 30px;
}

.cuisine-info-container {
	position: relative;
}
.cuisine-info-cover {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 10px;
	left: 0;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.cuisine-info-cover a {
	color: #5cb85c;
	font-family: 
}
li a {
	font-size: 25px;
}
.profile-footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-brand {
	color: #5cb85c !important;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 1px 1px #000;
}